:root {
  --eerie-black: hsl(210, 3%, 13%);
}

.card-title {
  margin-block-start: 15px;
  text-align: center;
  transition: var(--transition-1);
}

.card-title:is(:hover, :focus) { color: var(--eerie-black); }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

.h3 { line-height: 1.1; }
.h3 { color: var(--eerie-black); }
.h3 { font-size: var(--fs-3); }
